/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"src\\app\\layout.tsx","import":"","arguments":[{"src":"./fonts/GeistVF.woff","variable":"--font-geist-sans","weight":"100 900"}],"variableName":"geistSans"} ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: 'geistSans';
src: url(/_next/static/media/4473ecc91f70f139-s.p.woff) format('woff');
font-display: swap;
font-weight: 100 900;
}@font-face {font-family: 'geistSans Fallback';src: local("Arial");ascent-override: 85.83%;descent-override: 20.52%;line-gap-override: 9.33%;size-adjust: 107.19%
}.__className_1e4310 {font-family: 'geistSans', 'geistSans Fallback'
}.__variable_1e4310 {--font-geist-sans: 'geistSans', 'geistSans Fallback'
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"src\\app\\layout.tsx","import":"","arguments":[{"src":"./fonts/GeistMonoVF.woff","variable":"--font-geist-mono","weight":"100 900"}],"variableName":"geistMono"} ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: 'geistMono';
src: url(/_next/static/media/463dafcda517f24f-s.p.woff) format('woff');
font-display: swap;
font-weight: 100 900;
}@font-face {font-family: 'geistMono Fallback';src: local("Arial");ascent-override: 69.97%;descent-override: 16.73%;line-gap-override: 7.61%;size-adjust: 131.49%
}.__className_c3aa02 {font-family: 'geistMono', 'geistMono Fallback'
}.__variable_c3aa02 {--font-geist-mono: 'geistMono', 'geistMono Fallback'
}

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
:root {
  --color-bg-light: #f9f6f5; /* Blanco suave para el fondo en modo claro */
  --color-bg-dark: #3a1f24;  /* Tinto oscuro para el fondo en modo oscuro */
  --color-text-light: #3a1f24; /* Tinto como color de texto en modo claro */
  --color-text-dark: #f9f6f5;  /* Blanco suave para el texto en modo oscuro */
  --color-accent-light: #d4af37; /* Dorado como color terciario en modo claro */
  --color-accent-dark: #d4af37;  /* Mantiene el dorado en modo oscuro */
  
  --card-inactive: #27272a; /* Fondo inactivo para tarjetas */
  --card-hover: #3f3f46;    /* Fondo para tarjetas al pasar el mouse */
  --button-hover: #d8681d;  /* Color de fondo para botones al pasar el mouse */
  --task-column-bg: #18181b; /* Fondo de columna de tareas */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text-light); /* Color de texto claro en modo claro */
  background: var(--color-bg-light); /* Fondo claro en modo claro */
  font-family: var(--font-geist-sans), system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
.page-root,
.carousel-day,
.add-task-button,
.modal-content,
.columns {
  transition: all 0.3s ease; /* Transiciones suaves para los elementos */
}

[data-theme="light"] {
  body {
    color: var(--color-text-light);
    background: var(--color-bg-light);
  }
}

[data-theme="dark"] {
  body {
    color: var(--color-text-dark);
    background: var(--color-bg-dark);
  }
}

/* Estilos adicionales para tarjetas y botones */
.card {
  background-color: var(--card-inactive); /* Fondo inactivo para tarjetas */
  transition: background-color 0.3s; /* Transición suave para el fondo */
}

.card:hover {
  background-color: var(--card-hover); /* Fondo de tarjeta al pasar el mouse */
}

.button {
  transition: background-color 0.3s; /* Transición suave para el botón */
}

.button:hover {
  background-color: var(--button-hover); /* Color de botón al pasar el mouse */
}

/* Estilos para la columna de tareas */
.task-column {
  background-color: var(--task-column-bg); /* Fondo de columna de tareas */
}

